<h1>A MadLibs Vacation!</h1>
<p>A vacation is when you take a trip to some @Model.Adjective1 place with your @Model.Adjective2 family.</p>
<p>Usually you go to some place that is near a/an @Model.Noun1.</p>
<p>A good vacation place is one where you can ride @Model.Pluralnoun1 or play @Model.Game or go hunting for
  @Model.Pluralnoun2.</p>
<p>I like to spend my time @Model.Verbing1 or @Model.Verbing2.</p>
<p>When parents go on a vacation, they spend their time eating three @Model.Pluralnoun3 a day!</p>
